<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>The 2018 Hurricane Season</h1>
    <ul>
        <% for (let i = 0; i < hurricanes.length; i++) { %>
        <li>
            <a href="/hurricanes/<%=hurricanes[i].id%>"><%=hurricanes[i].name; %></a>
            <!--  ADD DELETE FORM HERE-->
        </li>
        <% } %>
    </ul>
</body>
</html>