<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Add a Storm below</h1>
 <form action="/hurricanes" method="POST">
    <p>Name:</p> <input type="text" name="name"><br/>
    <p>Strength:</p> <input type="text" name="color"><br/>
    <p>Made Landfall:</p> <input type="checkbox" name="madeLandfall">
    <input type="submit">
  </form>

</body>
</html>